<div class="tab-content" id="navTabContent">
  <div class="tab-pane fade show active" id="aboutme" role="tabpanel" aria-labelledby="aboutme-tab">{{ this.aboutme }}</div>
  <div class="tab-pane fade" id="research" role="tabpanel" aria-labelledby="research-tab">{{ this.research }}</div>
  <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications-tab">{{ this.publications }}</div>
  <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">{{ this.projects }}</div>
  <div class="tab-pane fade" id="talks" role="tabpanel" aria-labelledby="talks-tab">{{ this.talks }}</div>
  <div class="tab-pane fade" id="patents" role="tabpanel" aria-labelledby="patents-tab">{{ this.patents }}</div>
  <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="awards-tab">{{ this.awards }}</div>
</div>