<footer class="footer">
<br>
  <div class="container">
  	<div class="row">
	  	<div class="col-8">
		  	<address>
			  <strong>Institut de Física d'Altes Energies (IFAE)</strong><br>
			  Edifici Cn, Universitat Autònoma de Barcelona (UAB) <br>
			  E-08193 Bellaterra (Barcelona), Spain<br>
			  <a href="http://www.ifae.es/">www.ifae.es</a><br>
			  <a href="https://twitter.com/_ifae">@_IFAE</a>
			</address>
	  	</div>
	  	<div class="col-3 ml-auto">
	  		<img src= "{{ '/static/img/IFAE_logo.png'|asseturl }}" alt="IFAE Logo" class="img-fluid">
	  	</div>
  	</div>
  </div>
</footer>