<div class="container-fluid text-center side-up">
<img src= {{ this.pic }} alt="" class="rounded-circle img-fluid">
<br><br>
<p class="h3">{{this.name}} {{this.surname}}</p>
<p class="h6">{{this.group}}</p>
<p><em><small>{{this.position}}</small></em></p>
</div>

<div class="container-fluid side-down">
<ul class="fa-ul">
<li><i class="fa fa-envelope-o" aria-hidden="true"></i>    <small>{{this.email}}</small></li>
{% if this.phone%}
<li><i class="fa fa-mobile" aria-hidden="true"></i>    <small>{{this.phone}}</small></li>
{% endif%}
{% if this.likedin%}
<li><i class="fa fa-linkedin" aria-hidden="true"></i>    <small><a href="{{this.linkedin}}">LinkedIn profile</a></small></li>
{% endif%}
{% set ridurl = 'http://www.researcherid.com/rid/' %}
{% if this.researcherid%}
{% set ridurl = ridurl +  this.researcherid %}
<li><i class="fa fa-database" aria-hidden="true"></i>    <small><a href={{ridurl}}>Researcher ID</a></small></li>
{% endif%}
{% set orcidurl = 'http://orcid.org/' %}
{% if this.orcid%}
{% set orcidurl = orcidurl +  this.orcid %}
<li><i class="fa fa-database" aria-hidden="true"></i>    <small><a href={{orcidurl}}>ORCID</a></small></li>
{% endif%}

</ul>
</div>