<div class="container-fluid text-center" style="background-color: #225E3E; color: #D6D6D6; padding-bottom: 15%; padding-top: 10%">
<img src= {{ this.pic }} alt="" class="rounded-circle img-fluid">
<br><br>
<p class="h3">{{this.name}} {{this.surname}}</p>
<p class="h6">{{this.group}}</p>
</div>

<div class="container-fluid" style="background-color: #2B764D; color: #D6D6D6; padding-top: 15%; padding-bottom: 15%">
<ul class="fa-ul">
<li style="padding-bottom:3%"><i class="fa fa-envelope-o" aria-hidden="true"></i>    <small>{{this.email}}</small></li>
<li style="padding-bottom:3%"><i class="fa fa-mobile" aria-hidden="true"></i>    <small>{{this.phone}}</small></li>
{% if this.likedin%}
<li style="padding-bottom:3%"><i class="fa fa-linkedin" aria-hidden="true"></i>    <small><a href="{{this.linkedin}}" style="color: #D6D6D6">LinkedIn profile</a></small></li>
{% endif%}
{% if this.researcherid%}
<li style="padding-bottom:3%"><i class="fa fa-database" aria-hidden="true"></i>    <small>{{this.researcherid}}</small></li>
{% endif%}
{% if this.orcid%}
<li style="padding-bottom:3%"><i class="fa fa-database" aria-hidden="true"></i>    <small>{{this.orcid}}</small></li>
{% endif%}

</ul>
</div>

