<div class="container">
<br>
<div class="row">
	<div class="col-6">
		<a data-toggle="modal" data-target="#{{this.pic1[:-4]}}"><img src="{{this.pic1}}" alt="..." class="img-thumbnail"></a>
		<div class="modal fade" id="{{this.pic1[:-4]}}" tabindex="-1" role="dialog" aria-labelledby="{{this.pic1[:-4]}}Label" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		        <img src="{{this.pic1}}" alt="..." class="img-thumbnail">
		      </div>
		    </div>
		  </div>
		</div>

	</div>
	<div class="col-6">
		<a data-toggle="modal" data-target="#{{this.pic2[:-4]}}"><img src="{{this.pic2}}" alt="..." class="img-thumbnail" ></a>
		<div class="modal fade" id="{{this.pic2[:-4]}}" tabindex="-1" role="dialog" aria-labelledby="{{this.pic2[:-4]}}Label" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-body">
		        <img src="{{this.pic2}}" alt="..." class="img-thumbnail">
		      </div>
		    </div>
		  </div>
		</div>
	</div>

</div>
<br>
</div>